.clickable.inbox-item-with-icon(ui-sref="unifiedinbox.github.events({ username: ctrl.account.username })", ui-sref-opts="{ reload: 'unifiedinbox.github.events' }", ui-sref-active="selected", title="{{ ::ctrl.account.username }}")
  .badge-container
    i.inbox-icon.mdi.mdi-github-circle
    span.menu-item-inner
  .menu-item
      bdi @{{ ::ctrl.account.username }}
    span.menu-item-after
