.inbox-github-event
  .inbox-list-item-content
    .inbox-item-with-icon
      .list-image.badge-container
        .inbox-image-with-overlay
          img(ng-src='{{ ctrl.event.actor.avatar_url }}', alt=__("Github Avatar"))
          img.inbox-overlay(src="/unifiedinbox.github/images/GitHub-Mark-120px-plus.png")
      .media-body
        .inbox-list-item-subject-and-from
          .inbox-subject.lv-title
            span.inbox-subject-inline(ng-switch="ctrl.event.type")
              a(ng-switch-when="IssueCommentEvent", ng-href='{{ ctrl.event.payload.comment.html_url  }}') {{ ctrl.event.repo.name }}\#{{ ctrl.event.payload.issue.number }}
              a(ng-switch-when="PullRequestReviewCommentEvent", ng-href='{{ ctrl.event.payload.comment.html_url  }}') {{ ctrl.event.repo.name }}\#{{ ctrl.event.payload.pull_request.number }}
              a(ng-switch-default, ng-href='http://github.com/{{ ctrl.event.repo.name }}') {{ ctrl.event.repo.name }}
            span.inbox-preview-inline.inbox-preview-divider -
            .inbox-preview-inline.lv-small.preview(ng-switch="ctrl.event.type")
              include github-event-description.pug
          .inbox-from.lv-title
            a(ng-href='https://github.com/{{ ctrl.event.actor.display_login }}') {{ ctrl.event.actor.display_login }}
        .inbox-list-item-date-and-indicators
          .date-container {{ ctrl.event.date | inboxItemDate }}
    .inbox-preview-block.preview(ng-switch="ctrl.event.type")
      include github-event-description.pug
