.inbox-github-events
  infinite-list(load-more-elements='ctrl.loadMoreElements()', scroll-inside-container="ctrl.scrollInsideContainer")
    .github-events-list.card.listview.lv-bordered
      .github-events-item.lv-item(ng-repeat="item in ctrl.elements | orderBy: '-date'" ng-if="ctrl.elements.length > 0 && ctrl.isSupported(item)")
        inbox-github-event(event="item")
  .github-events-empty(ng-if="!ctrl.elements.length && ctrl.infiniteScrollCompleted")
    i.mdi.mdi-github-circle
    .message #{__("No github events")}
  ul.nav.nav-pills.nav-stacked(ng-if='ctrl.infiniteScrollDisabled')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
  fab-scroll-top
